body{
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    width: 1879px;
}


.header{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-visma{
    margin-left: 262px;
    margin-right: 113px;
    padding: 0px 30px;
    max-width: 100%;
    max-height: 1080px;
}

.item-nav{
    margin-left: 30px;
}

.img-poisk{
    margin-left: 115px;
    padding: 21px 21px;
}

.text {
    width: 150px;
    height: 15px;
    font-size: 15px;
    border-radius: 5px;
}

.item-t{
    top: 290px;
    margin-left: 312px;
    position: absolute;
    color: white;
    font-size: 50px;
}

.item-v{
    top: 470px;
    margin-left: 312px;
    position: absolute;
    color: white;
    font-size: 16px;
}

.item-o{
    top: 600px;
    margin-left: 312px;
    position: absolute;
    color: white;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.img40{
    top: 223px;
    margin-left: 972px;
    position: absolute;
}

.img41{
    top: 497px;
    margin-left: 972px;
    position: absolute;
}

.img42{
    top: 497px;
    margin-left: 1302px;
    position: absolute;
}

.img43{
    top: 223px;
    margin-left: 1302px;
    position: absolute;
}

.content{
    padding-left: 312px;
}

.item-y{
    font-size: 40px;
    margin-top: 150px;
    position: absolute;
}

.itemt {
    margin-top: 60px;
    top: 1040px;
    color: blue;
    position: absolute;
}

.img-f1{
    top: 1110px;
    margin-left: 260px;
    position: absolute;
}

.itemy{
    margin-top: 30px;
    top: 1160px;
    color: blue;
    position: absolute;
}

.img-f2{
    top: 1190px;
    margin-left: 260px;
    position: absolute;
}

.itemd{
    margin-top: 30px;
    top: 1230px;
    color: blue;
    position: absolute;
}

.img-f3 {
    top: 1260px;
    margin-left: 260px;
    position: absolute;
}

.img-f7{
    margin-left: 402px;
    margin-top: 150px;
}

.img-f8{
    margin-top: 150px;
    margin-left: 20px;
}

.section{
    margin-top: 250px;
    margin-left: 312px;
}

.item-0{
    font-size: 40px;
}

.item-tr{
    margin-top: 60px;
    font-size: 16px;
    position: absolute;
}

.item-l{
    margin-top: 142px;
    font-size: 16px;
    position: absolute;
}

.item-vi{
    margin-top: 180px;
    font-size: 16px;
    position: absolute;
}

.item-q{
    margin-top: 360px;
    font-size: 16px;
    position: absolute;
}

.img-r{
    margin-left: 770px;
    margin-top: 60px;
}

.img-m{
    margin-left: 993px;
    margin-top: 195px;
    position: absolute;
}

.img-f4-2{
    margin-top: 30px;
    margin-left: 770px;
}

.new{
    margin-left: 312px;
    margin-top: 260px;
}

.item-new{
    position: absolute;
    margin-top: -10px;
}

.button-new{
    padding-left: 1155px;
    color: #3D348B;
    font-size: 23px;
    text-decoration: none;
}

.button{
    margin-bottom: -7px;
}

.img-34-1{
    margin-top: 60px;
    align-items: center;
}

.img-34-2{
    margin-top: 60px;
    margin-left: 24px;
    align-items: center;
}

.new1{
    display: flex;
    margin-top: 60px;
}

.new2{
    margin-left: 24px;
}

.new3{
    margin-left: 312px;
}

.data-h1{
    margin-top: 25px;
    margin-bottom: 15px;
}

.footer{
    margin-top: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 312px;
    padding-right: 312px;
    display: flex;
    background-color: #4802a3;
    align-items: center;
    color: white;
}


.address{
    margin-left: 20px;
}

.img-visma-white{
    margin-left: 230px;
}

.phone{
    margin-left: 230px;
}

.number{
    margin-left: 20px;
}

.img-email{
    margin-left: 30px;
}

.email{
    margin-left: 20px;
}

.footer2{
    background-color: #3D348B;
    display: flex;
    color: white;
    padding-top: 80px;
    padding-bottom: 96px;
}

.footer-1 {
    margin-left: 312px;
}

.footer-2{
    margin-left: 124px;
}

.footer-3{
    margin-left: 124px;
}

.footer-4{
    margin-left: 124px;
}

.Visma-footer{
    color: #FFFFFF;
    margin-left: 800px;
    margin-bottom: 30px;
    margin-top: 336px;
    position: absolute;
}
